.list-item {
  background-color: var(--gray-100);
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 1rem;
  margin: 0.4rem 0;
}

.item-id {
  margin-right: 0.8rem;
}

.list-item p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

.delete-button {
  font-size: 2rem;
  margin-left: auto;
  line-height: normal;
  padding: 0 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
