<div class="checkout-container">
  <h2>Checkout</h2>
  <form class="form-inline mb-3">
    <div class="name-form grid-container">
      <label class="grid-item-left" for="name">Name: </label>
      <input class="grid-item-right custom-input" type="text" id="name" placeholder="Enter Name">
    </div>
    <div class="card-number-form grid-container">
      <label class="grid-item-left" for="cardNumber">Card Number: </label>
      <input class="grid-item-right custom-input" type="text" placeholder="Enter credit card number">
    </div>
    <div class="display-amount grid-container">
      <label class="grid-item-left" for="amount">Amount: </label>
      <input class="grid-item-right custom-input" id="amount" type="number" value="{{ (costOfItems) }}" disabled>
    </div>
    <button class="btn btn-orange-outline" (click)="onCheckout()">Checkout</button>
  </form>
</div>
