<div class="checkout-container">
  <div id="checkoutForm" class="card card-body">
    <form id="personalDetails" class="form-inline mb-3">
      <span style="margin-right: 10%;">Name: </span>
      <input type="text" style="width: 35%;" class="form-control mr-2" id="name" placeholder="Enter Name">
    </form>

    <form id="paymentAmount" class="form-inline mb-3">
      <span style="margin-right: 10%;">Amount: </span>
      <div id="amount">{{ (numOfItems*100) }}</div>
    </form>

    <form id="cardDetails" class="form-inline mb-3">
      <span style="margin-right: 5%;">Card Number: </span>
      <input type="text" style="width: 35%;" class="cvv-input form-control mr-2" id="cardNumber"
        placeholder="Enter credit card number">
    </form>
    <input type="submit" id="checkout" class="btn btn-dark" value="checkout" style="width: 20%; float: left;">
  </div>
</div>
