.checkout-container{
  width: 75%;
  margin: auto;
  /* padding: 1%; */
  /* border: 1px solid black; */
  /* border-radius: 12px; */
}

/* #checkout{
  width: 20%; 
  float: left;
  height: 8%;
}

#cardNumber{
  width: 35%;
}

.input-name, .input-amount, .input-number{
  display:inline;
  margin: 5px;
} */